<% if Billing::GoogleCheckout.current && order.google_order_number.present? %>
  <td><p>
    <% if order.completed? && order.state != 'canceled' && order.payment_state != 'paid' %>
      <%= link_to(t("google_checkout.charge"), charge_google_order_admin_order_path(order)) %>
    <% end %>
    </p><p>
    <% if order.allow_cancel? && order.payment_state != 'paid' %>
      <% form_tag cancel_google_checkout_order_admin_order_path(order) , :method => :get do %>
        <p><%= t(:reason)%>:<br /><%= text_field_tag "#{order.number}[reason]" %></p>
        <!--<p><%= t(:comment)%>:<br /><%= text_field_tag "#{order.number}[comment]" %></p>-->
        <p><%= submit_tag t("google_checkout.cancel_order"), :onclick => "if (jQuery('##{order.number}_reason').val().length == 0) { jQuery.alerts.alert('#{t(:fill_reason)}'); return false; }" %></p>
      <% end %>
    <% end %>
    </p>
  </td> 
<% else %>
  <td></td>
<% end %>
